
{{#each data}}
  <div class="col_4 block" >
    <h4>{{this.title}}</h4>
    <p>{{this.description}}</p>
    <a class="button" href="/classes/{{this.id}}/details">Class details</a>
  </div>
{{/each}}
<!--<div class="col_4" block>
  <h4>CSS</h4>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
  magna aliquam erat volutpat.</p>
  <a class="button" href="/#">Class details</a>
</div>
<div class="col_4" block>
  <h4>Bootstrap</h4>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
  magna aliquam erat volutpat.</p>
  <a class="button" href="/#">Class details</a>
</div>
