{{#if user}}
  <h5>Welcome, {{user.username}} !</h5>
  <ul>
    <li><a href="/{{user.type}}s/classes">My classes</a></li>
    <li><a href="/users/logout">Logout</a></li>
  </ul>
{{else}}
  <h5>Student & instructor login</h5>
    <form action="/users/login" method="post" enctype="application/x-www-form-urlencoded">
      <label for="" >Username:</label><br>
      <input type="text" name="username"><br>
      <label for="" >Password:</label><br>
      <input type="password" name="password"><br>
      <input type="submit" value="Log In">
    </form>
{{/if}}
