<h2>Add lesson</h2>
<form class="" action="/instructors/classes/{{class_id}}/lessons/new" method="post">
    <div class="">
      <label for="">Lesson number: </label>
        <input type="text" name="lesson_number" value="">
    </div>
    <div class="">
      <label for="">Lesson title: </label>
        <input type="text" name="lesson_title" value="">
    </div>
    <div class="">
      <label for="">Description: </label>
        <textarea name="lesson_body" rows="8" cols="40"></textarea>
    </div>
    <div class="">
        <input type="submit" value="Add lesson">
    </div>
</form>
